@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body{
  background-color: #eee;
}
.sidebar{
  /* width: 17rem; */
  background-color: #fff;
  padding:1rem;
  transition:all 0.3s linear;
}
.hover\:darkPurple-hover:hover {
  background-color: #5E35B1;
}

